/* Home page styles */
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('../public/images.jpeg') center/cover no-repeat; /* Set your background image */
  overflow: hidden;
}

.content {
  padding: 50px; /* Add padding to your content */
  background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent background for content readability */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
